
@import url("//hello.myfonts.net/count/2b81de");
@font-face {font-family: 'Libertad-Light';src: url('webfonts/2B81DE_2_0.eot');src: url('webfonts/2B81DE_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B81DE_2_0.woff') format('woff'),url('webfonts/2B81DE_2_0.ttf') format('truetype'),url('webfonts/2B81DE_2_0.svg#wf') format('svg');}
@font-face {font-family: 'Libertad-ExtraBold';src: url('webfonts/2B81DE_4_0.eot');src: url('webfonts/2B81DE_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B81DE_4_0.woff') format('woff'),url('webfonts/2B81DE_4_0.ttf') format('truetype'),url('webfonts/2B81DE_4_0.svg#wf') format('svg');}

body{
    background-color: #F8B711 !important;
}
.icons li:first-child{
    margin-left: 4em;
}
.icons li{
    float: left;
    margin-left: 1em;
}
.voce-alem-ico{
    background: url('../img/icon-logo.svg');
    background-repeat: no-repeat;
    height: 3em;
    width: 3em;
    margin-left: 10em;
    display: block;
}
.logo{
    height: auto;
    padding-right: 0 !important;
}
.facebook-ico, .twitter-ico, .maps-ico, .instagram-ico, .chats-ico, .play-ico{
    background-repeat: no-repeat;
    display: block;
}
.facebook-ico{
    background: url('../img/icons/facebook.svg');
}
.twitter-ico{
    background: url('../img/icons/twitter.svg');
}
.maps-ico{
    background: url('../img/icons/maps.svg');
}
.instagram-ico{
    background: url('../img/icons/instagram.svg');
}
.chats-ico{
    background: url('../img/icons/chat.svg');
}
.play-ico{
    background: url('../img/icons/play.svg') no-repeat;
}
/*-------------------- End Icons -------------------------*/

.title{
    color: #000;
    font-family: 'Libertad-Light';
    text-align: center;
}
.text{
    color: #000;
    font-family: 'Libertad-Light';
    text-align: center;
}
.button{
    background-color: #000;
    color: #F8B711;
    text-align: center;
    border: none;
}
.informations{
    background-color: #F8B711;
    color: #000;
    border: none;
    font-family: 'Libertad-Light'
}

.informations::-webkit-input-placeholder{
    color: #000;
    text-align: center;
}
.nav{
    z-index: 101;
    position: absolute;
    background-color: #F8B711;
    text-decoration: none;
    color: #000;
    font-family: 'Libertad-Light', Arial;
}
.nav-home-menu{
    text-align: center;
    font-family: 'Libertad-Light', Arial;
}
.nav-home-menu a{
    color: #000;
}
.nav-group{
    position: relative;
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
 * Responsive Devices
*/

/*
 * Desktops (Medium and Large Devices)
 */
 @media only screen and (min-width: 1300px){
    .icons li{
        margin-top: 20em;
    }
    .facebook-ico, .twitter-ico, .maps-ico, .instagram-ico, .chats-ico{
        width: 3em;
        height: 3em;
    }
    .play-ico{
        width: 4.5em;
        height: 4.5em;
        margin-top: 5em;
    }
    .nav-home-menu a{
        font-size: 2.875em;
    }
    .nav-group{
         margin-top: 20em;
    }

    .title{
        font-size: 2.875em;
        margin-top: 5em;
    }
    .text{
        margin-top: 3em;
        font-size: 2.5em;
    }
    .button{
        margin-top: 3em;
        font-size: 2.5em;
        border-radius: 0.3em;
    }
    .informations{
        font-size: 3em;
        margin-top: 1em;
    }
    .informations:first-child{
        margin-top: 3em;
    }
 }
 /*
 * Mobile (Small and Extra Small Default)
 */
 @media only screen and (max-width: 800px){
    .facebook-ico, .twitter-ico, .maps-ico, .instagram-ico, .chats-ico{
        width: 3em;
        height: 3em;
    }
    .icons li{
        margin-top: 5em;
    }
    .play-ico{
        width: 3em;
        height: 3em;
        margin-top: 5em;
    }
    .logo{
        margin-top: 7em;
    }
    .nav-home-menu a{
        font-size: 2.875em;
    }
    .nav-group li:first-child{
        margin-top: 5em;
    }
    .title{
        font-size: 1.875em;
    }
    .text{
        margin-top: 3em;
        font-size: 1.5em;
    }
    .button{
        margin-top: 3em;
        font-size: 2em;
        border-radius: 0.3em;
    }
    .informations{
        font-size: 2em;
        margin-top: 1em;
    }
    .informations:first-child{
        margin-top: 3em;
    }
 }

 /*
 * Mobile (Max Width  370px)
 */
@media screen and (max-width: 370px){
    .facebook-ico, .twitter-ico, .maps-ico, .instagram-ico, .chats-ico{
        width: 2em;
        height: 2em;
    }
    .nav-home-menu a{
        font-size: 1.875em;
    }
    .title{
        font-size: 1.875em;
    }
    .text{
        margin-top: 3em;
        font-size: 1.5em;
    }
    .button{
        margin-top: 3em;
        font-size: 1.7em;
        border-radius: 0.3em;
    }
}
/*
* Mobile Tablets (Min Width  600px)
 */
@media screen and (max-width: 810px) and (min-width: 600px  ){
    .facebook-ico, .twitter-ico, .maps-ico, .instagram-ico, .chats-ico{
        width: 3.5em;
        height: 3.5em;
    }
    .logo{
        margin-top: 10em;
    }
    .icons li{
        margin-top: 10em;
    }
    .nav-home-menu a{
        font-size: 2.875em;
    }
    .nav-group li:first-child{
        margin-top: 15em;
    }
    .title{
        margin-top: 5em;
        font-size: 2.875em;
    }
    .text{
        margin-top: 3em;
        font-size: 2em;
    }
    .button{
        margin-top: 3em;
        font-size: 2.5em;
        border-radius: 0.3em;
    }
}
