.video{
    z-index: -99;
    display: none;
    padding: 0;
    margin: 0;
}

#btn-play{
    z-index: 100;
}
#btn-pause{
    z-index: 100;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.8em;
    color: white;
    display: none;
}
